.player-details-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
}

.player-info-charts-container {
 display: flex;
 width: 100%;
 justify-content: space-between;
 flex-wrap: wrap;
 /* Allow wrapping for smaller screens */
}

.player-info-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 45%;
 /* Adjust the width to make them closer */
}

.player-stats-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 45%;
 /* Adjust the width to make them closer */
}

.pie-chart-group {
 display: flex;
 justify-content: space-between;
 width: 100%;
 flex-wrap: wrap;
 /* Allow wrapping for smaller screens */
}

.pie-chart-item {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 10px;
 /* Reduce the margin to bring them closer */
 width: 45%;
 /* Adjust width to control size of each chart */
}

.pie-chart-item p {
 margin: 0;
 padding-bottom: 5px;
 /* Adjust padding to bring the text closer to the chart */
 font-weight: bold;
 font-size: 20px;
 /* Adjust font size as needed */
}

.pie-chart-wrapper {
 position: relative;
 width: 130px;
 /* Adjust the width as needed */
 height: 130px;
 /* Adjust the height as needed */
}

.pie-chart-label {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 20px;
 /* Adjust the font size as needed */
 font-weight: bold;
}

.player-stats-table-container {
 overflow-x: auto;
 white-space: nowrap;
 cursor: grab;
 max-width: 100%;
 margin: 20px 0;
 text-align: center;
 /* Center align the table content */
}

.player-stats-table-container:active {
 cursor: grabbing;
}

.player-stats-table {
 border-collapse: collapse;
 width: 100%;
}

.player-stats-th,
.player-stats-td {
 border-top: 1px solid #ddd;
 border-left: none;
 border-right: none;
 padding: 6px;
 font-size: 14px;
 text-align: center;
 vertical-align: middle;
}

.player-stats-th {
 background-color: #f2f2f2;
 text-align: left;
}

.player-links-container,
.player-videos-container {
 width: 100%;
 max-width: 800px;
 margin: 20px 0;
 text-align: center;
 /* Center align the links and videos */
}

.player-links-container ul,
.player-videos-container ul {
 list-style-type: none;
 padding: 0;
}

.player-links-container li,
.player-videos-container li {
 margin: 10px 0;
}

.player-links-container {
 width: 100%;
 max-width: 100%;
 height: 3rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #f9f9f9;
 border: 1px solid #ddd;
 padding: 1rem 0;
 box-sizing: border-box;
 margin: 0;
}

.player-links-container ul {
 display: flex;
 justify-content: flex-start;
 width: 100%;
 margin: 0;
}

.player-links-container li {
 margin: 0 2rem;
}

.player-links-container a {
 text-decoration: none;
 color: #030303;
}

.player-links-container a:hover {
 text-decoration: underline;
}

.active-link {
 font-weight: bold;
 text-decoration: underline;
 color: black;
}

.section-container {
 width: 90%;
 border: 1px solid #ddd;
 margin: 20px 0;
 padding: 10px 20px;
 text-align: center;
 /* Center align the section content */
}

.last-5 {
 margin: 0 0 5px 0;
}

@media (max-width: 768px) {
 .player-info-charts-container {
  flex-direction: column;
  align-items: center;
 }

 .player-info-container,
 .player-stats-container {
  width: 90%;
  /* Take full width on mobile view */
 }

 .pie-chart-group {
  flex-direction: row;
  justify-content: center;
 }

 .pie-chart-item {
  width: 45%;
  /* Adjust width to make charts stack in a 2x2 grid */
  margin: 10px 5px;
  /* Adjust margin to fit mobile view */
 }

 .player-links-container {
  width: 100%;
 }

 .section-container {
  width: 100%;
 }
}