/* GameDetails.css */
.game-details-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 20px;
 border-bottom: 4px black solid;
 color: white;
}
.game-details-container a {
 color: #ff6347;
 /* Change to the desired color, e.g., tomato */
 text-decoration: none;
 /* Remove underline */
}

.game-details-container a:hover {
 color: #ff4500;
 /* Change to the desired hover color */
 text-decoration: underline;
 /* Optional: add underline on hover */
}

.game-info {
 text-align: center;
 margin-bottom: 20px;
}

.team-details {
 width: 100%;
 margin-bottom: 20px;
}

.team-details h3 {
 text-align: center;
}

.team-details p {
 text-align: center;
 font-weight: bold;
}

.game-stats-table {
 width: 100%;
 border-collapse: collapse;
 margin: 10px 0;
}

.game-stats-table th,
.game-stats-table td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: center;
 background-color: black;
 color: white;
}

.game-stats-table th {
 font-weight: bold;
}

.home_team_name, 
.away_team_name {
 font-size: 30px;
 padding-left: .5rem;
 margin: 0;
}