/* Overall Home Container */
.home-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 20px;
 background-color:black;
 height: 100vh;
 color: white;
}

/* Section 1 - Standings */
.section1 {
 width: 100%;
 max-width: 1200px;
 margin-bottom: 30px;
}

.section1 h2 {
 font-size: 2rem;
 text-align: center;
}

/* Table Styling */
table {
 width: 100%;
 border-collapse: collapse;
 background-color: #fff;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 border-radius: 8px;
 overflow: hidden;
}

th,
td {
 padding: 15px;
 text-align: center;
}

th {
 background-color: #7a7a7a;
 color: white;
 font-size: 1.1rem;
}

td {
 font-size: 1rem;
 color: #333;
}

tr:nth-child(even) {
 background-color: #f2f2f2;
}

/* Hover effect on table rows */
tr:hover {
 background-color: #ddd;
}

/* Section 2 - Sponsors */
.section2 {
 width: 100%;
 max-width: 1160px;
 text-align: center;
 padding: 20px;
 background-color: #ffffff;
 box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 border-radius: 8px;
}

.section2 h1 {
 font-size: 2rem;
 margin-bottom: 15px;
 color: #333;
}

.section2 p {
 font-size: 1.2rem;
 color: #555;
 line-height: 1.6;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
 .home-container {
  padding: 10px;
 }

 table {
  font-size: 0.9rem;
 }

 th,
 td {
  padding: 10px;
 }

 .section2 p {
  font-size: 1rem;
 }
}