.home-container {
 text-align: center;
 margin: 20px;
 position: relative;
 font-size: 30px;
 color: black;
}

.video-container {
 position: relative;
 width: 80%;
 /* Reduce width to fit smaller screens */
 max-width: 844px;
 /* Ensure the max width is 844px */
 margin: 0 auto;
 padding-bottom: 56.25%;
 /* 16:9 aspect ratio */
 overflow: hidden;
}

.responsive-iframe {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 60%;
}

.home-container {
 padding: 20px;
 text-align: center;
}

.teams-table {
 width: 80%;
 margin: 20px auto;
 border-collapse: collapse;
}

.teams-table th,
.teams-table td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: center;
}

.teams-table th {
 background-color: #f2f2f2;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 380px) {
 .video-container {
  width: 50%;
  /* Full width for smaller screens */
  padding-bottom: 56.25%;
  border: 1px solid #ccc;
  border-radius: 5px;
 }

}