.players-page {
max-width: 100%;
padding-top: 5rem;
text-align: center;
color: white;
background-color: black;
}

.search-container {
position: relative;
display: inline-block;
width: 50%;
margin-bottom: 5rem;
}

.search-bar {
width: 100%;
padding: 20px 40px 20px 10px;
font-size: 16px;
border-radius: 5px;
border: 7px solid #ccc;
}

.search-icon {
position: absolute;
right: -40px;
top: 50%;
transform: translateY(-50%);
width: 20px;
height: 20px;
pointer-events: none;
}

.players-list {
list-style: none;
padding: 0;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 30px
}

.player-item {
text-align: center;
width: 22%;
box-sizing: border-box;
margin-bottom: 20px;
}

.player-link {
display: block;
text-decoration: none;
/* Remove underline */
color: inherit;
/* Ensure link color matches text color */
}

.player-link:hover {
transform: scale(1.1);
}

.player-image {
width: 200px;
height: 200px;
display: block;
margin: 0 auto;
border-radius: 50%;
object-fit: cover;
transition: transform 0.3s ease-in-out;
}

.player-name,
.player-sport {
padding: 0;
margin: 0;
}

.player-name {
margin-top: 8px;
/* Adjust this value as needed */
font-size: 20px;
}

.player-sport {
margin-top: 2px;
/* Adjust this value as needed */
font-size: 14px;
}

.player-team {
margin-top: 2px;
/* Adjust this value as needed */
font-size: 14px;
}

@media (max-width: 1024px) {
.player-item {
width: 30%;
}
}

@media (max-width: 768px) {
.player-item {
width: 45%;
}
}

@media (max-width: 480px) {
.player-item {
width: 100%;
}
}












