.players-page {
 max-width: 1200px;
 margin: 0 auto;
 padding: 20px;
 text-align: center;
}

.search-container {
 position: relative;
 display: inline-block;
 width: 50%;
 margin-bottom: 20px;
}

.search-bar {
 width: 100%;
 padding: 20px 40px 20px 10px;
 /* Add padding to the right for the icon */
 font-size: 16px;
 border-radius: 5px;
 border: 1px solid #ccc;
}

.search-icon {
 position: absolute;
 right: -40px;
 top: 50%;
 transform: translateY(-50%);
 width: 20px;
 height: 20px;
 pointer-events: none;
 /* Ensure the icon does not interfere with input focus */
}

.players-list {
 list-style: none;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 /* Align items to the start of the container */
}

.player-item {
 text-align: center;
 width: 22%;
 box-sizing: border-box;
 margin-bottom: 20px;
}

.player-image {
 width: 150px;
 height: 150px;
 display: block;
 margin: 0 auto 10px;
 border-radius: 50%;
 object-fit: cover;
}

@media (max-width: 1024px) {
 .player-item {
  width: 30%;
 }
}

@media (max-width: 768px) {
 .player-item {
  width: 45%;
 }
}

@media (max-width: 480px) {
 .player-item {
  width: 100%;
 }
}