.player-form-page-unique {
 max-width: 1200px;
 margin: 0 auto;
 padding: 20px;
 text-align: center;
}

.player-form-unique {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 20px;
}

.form-row-unique {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 width: 100%;
}

.form-group-unique {
 margin: 10px;
 flex: 1;
 min-width: 150px;
}

.player-form-unique label {
 display: block;
 margin-bottom: 5px;
}

.player-form-unique input[type="text"] {
 width: 100%;
 padding: 8px;
 font-size: 16px;
 border-radius: 5px;
 border: 1px solid #ccc;
}

.player-form-unique input[type="file"] {
  width: 100%;
  padding: 5px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #ccc;
 }

.player-form-unique button {
 margin: 10px;
 margin-bottom: 3rem;
 padding: 10px 20px;
 font-size: 16px;
 border-radius: 5px;
 border: none;
 background-color: #007BFF;
 color: white;
 cursor: pointer;
}

.search-container-unique {
 position: relative;
 display: inline-block;
 width: 50%;
 margin-bottom: 30px;
}

.search-bar-unique {
 width: 100%;
 padding: 10px 40px 10px 10px;
 font-size: 16px;
 border-radius: 5px;
 border: 1px solid #ccc;
}

.search-icon-unique {
 position: absolute;
 right: -40px;
 top: 50%;
 transform: translateY(-50%);
 width: 20px;
 height: 20px;
 pointer-events: none;
}

.player-form-edit-btn-unique {
 margin-right: .2rem;
}

.player-form-list-unique {
 list-style: none;
 padding: 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 /* Align items to the start of the container */
}

.player-form-item-unique {
 text-align: center;
 width: 22%;
 box-sizing: border-box;
 margin-bottom: 20px;
}

.player-form-image-unique {
 width: 100px;
 height: 100px;
 display: block;
 margin: 0 auto 10px;
 border-radius: 50%;
 object-fit: cover;
}

.player-name-unique {
 margin-bottom: 3px;
 margin-top: 0;
}

.player-sport-unique {
 margin-bottom: 3px;
 margin-top: 0;
}

@media (max-width: 1024px) {
 .player-form-item-unique {
  width: 30%;
 }
}

@media (max-width: 768px) {
 .player-form-item-unique {
  width: 45%;
 }
}

@media (max-width: 480px) {
 .player-form-item-unique {
  width: 100%;
 }
}