/* Navbar.css */

.navbar-custom {
 background-color: #333;
 padding: 10px 0;
 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1000;
 height: 60px;
 display: flex;
 align-items: center;
}

.nav-list-custom {
 list-style: none;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0;
 padding: 0 20px;
 margin-left: 2rem;
 width: 100%;
}

.nav-item-custom {
 margin: 0;
 position: relative;
 /* Required for positioning the dropdown */
}

.nav-link-custom {
 color: white;
 text-decoration: none;
 transition: all 0.3s ease;
 padding: 15px 0;
}

.nav-link-custom:hover {
 text-decoration: underline;
}

.nav-link-custom.active {
 font-weight: bold;
}

.dropdown-menu-custom {
 position: absolute;
 top: 100%;
 left: 0;
 background-color: #333;
 list-style: none;
 padding: 0;
 margin: 0;
 width: 150px;
 box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 z-index: 1000;
}

.dropdown-link-custom {
 display: block;
 padding: 10px 15px;
 color: white;
 text-decoration: none;
 transition: background-color 0.3s ease;
}

.dropdown-link-custom:hover {
 background-color: #444;
}